.row{
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 20px;

}

.back{
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient($color-principal-dos 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
}

.backC{
    height: 500px;
    width: 500px;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin: 0%;
    
}