.container-sm{
    margin-top: 50px;
    font-size: 18px;
    
}

.row{
    background-color: #2b2b2b;
    opacity: 0.8z;
    background-image: radial-gradient(#20254E 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
    
}