.nosotrosTitulo{
    color: rgb(45, 45, 45);
    font-size: 20px;
    text-align: center;
    height: 400px;
    width: 800px;
    margin-left: 550px;
    margin-top: 40px;
}

.nosotrosTitulo p{
    margin-top: 30px;
}

.bloquesNosotros{
    background-color: rgb(221, 221, 221);
    
}

.nosotrosDos{
    height:300px;
    width: 400px;
}

.col-lg-6 col-md-6 col-sm-12{
    font-size: 20px;
    margin-top:40px;
    margin-left: 40px;
    height: 400px;
}
    
.bloqueDos li{
    margin-left: 40px;
}

.nosotrosDos{
    width: 600px;
    margin-left: 100px;
}

.bodyCont{
    display: flex;
    flex-direction: column;
}

.otroTitulo{
    text-align: center;
    margin: auto;
    width: 100%;
    max-width: 1000px;
    padding: 3.5em 3em ;
}

