
.piePagina{
    height: 150px;
}

.piePagina_seccion{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    gap: 30px;
}

.piePagina p{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: #fff;
}

.piePaginaSeg{
    height: 100px;
    margin-top: 30px;
}


.piePaginaSegu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap:30px;
}

.piePaginaSeg p{
    text-align: center;
    padding-top: 15px;
}

.fa-brands{
    color: #CF1353;
}

.fa-brands:hover{
    color: #20254E;
}
