.container-sm{
    margin-top: 50px;
    font-size:map-get($tamanio-tipo,subtitulo);
    .row{
        background-color: #2b2b2b;
        opacity: 0.8z;
        background-image: radial-gradient($color-principal-dos 0.5px, #e5e5f7 0.5px);
        background-size: 10px 10px;
        .col-lg-6 col-md-6 col-sm-12{
            font-size:map-get($tamanio-tipo,parrafo);
            margin-top:40px;
            margin-left: 40px;
            height: 400px;
        }
    }
}


.col-lg-6 col-md-6 col-sm-12{
    font-size:map-get($tamanio-tipo,parrafo);
    margin-top:40px;
    margin-left: 40px;
    height: 400px;
}

.piePaginaSeg{
    grid-area: pieS;
    height: 100px;
    margin-top: 30px;
}


.piePaginaSegu{
    @extend %flex-center;
    margin-top: 50px;
    gap:20px;
}

